body {
    background-color: black;
}

.main-containers {
    margin-bottom: 40px !important;
    font-family: 'Old Standard TT', serif;
}

.contact-bg {
    background-image: url("../images/pen.jpeg");
    max-width: 100%;
    background-size:cover;
    color: gold;
}

.navbar {
    background-color: black !important;
}

.navbar a {
    color: gold !important;
    font-family: fantasy;
    font-size: 22px;
}

.navbar a:hover {
    opacity: 0.5;
}

#nav-phone:hover {
    opacity: 0.5;
}

#section-top {
    background-color: black;
}

@media (min-width: 768px) {
    #quote-top {
        font-size: 26px;
    }
    #quote-author {
        font-size: 18px;
        font-style: italic;
    }
}
.carousel-inner h2 {
    color: gold;
    font-weight: bold;
    background-color: rgba(0,0,0,0.6);
    font-size: 20px;
}

a[class|="carousel-control"]:link {
    background-color: grey;
    opacity: 0.1;
}


a[class|="carousel-control"]:visited {
    background-color: grey;
    opacity: 0.1;
}

a[class|="carousel-control"]:hover {
    background-color: grey;
    opacity: 0.1;
}

a[class|="carousel-control"]:active {
    background-color: grey;
    opacity: 0.1;
}

.card-body {
    background-color: black;
}

.card-body > h6, p {
    color: gold !important;
}

.modal-content {
    background-color: #273236 !important;
}

#section-main {
    color: gold;
}

#links-back > a {
    background-color: black;
}

#links-back > a:hover {
    color: white;
    background-color: #242924;
    opacity: 0.5;
}

#download-link {
    color: gold;
    font-weight: bold;
}

.pen-img {
    opacity: 0.7;
}

.black-sections {
    background-color: black;
}

#inputText, #inputEmail {
    background-color: #242924;
    color: white;
}

.btn-warning {
    color: black !important;
    font-weight: bold !important;
}

.notdone {
    color: #242924 !important;
}
